<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<import resource="applicationContext-base.xml"/>
	
	<bean id="testDapdbDataSource" parent="basePoolDataSource" abstract="true">
		<property name="alias" value="test-sapdb-dbpool"/>
		<property name="driver" value="com.sap.dbtech.jdbc.DriverSapDB"/>
		<property name="driverUrl" value="jdbc:sapdb://192.168.88.201/RCPA"/>
		<property name="user" value="test"/>
		<property name="password" value="test"/>
	</bean>
	
	<bean id="testHsqlDataSource" parent="basePoolDataSource" abstract="true">
		<property name="alias" value="test-hsql-dbpool"/>
		<property name="driver" value="org.hsqldb.jdbcDriver"/>
		<property name="driverUrl" value="jdbc:hsqldb:mem:msms"/>
		<property name="user" value="sa"/>
		<property name="password" value=""/>
	</bean>
	
</beans>
